h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

.designed {
  background-image: url(../images/the-flatiron-building.png);
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

html {
  text-align: center;
}

.footer {
  text-align: left;
  background-color: dimgray;
  color: white;
  font-family: Helvetica;
  font-size: 11px;
}

a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

nav {
  background-image: url(../images/the-flatiron-building.png);
  background-size: auto;
}
